html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 20px solid #636363;
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.d1 {
    height: 70px;
    background-color: #bfbfbf;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    padding: 25px;
    font-weight: bold;
    flex-shrink: 0;
}

.d2 {
    display: flex;
    flex-grow: 1;
    background-color: #787878;
    padding: 15px;
}

.nav {
    color: #ffffff;
    font-size: 25px;
    width: 20%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.d4 {
    background-color: #bfbfbf;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    flex-grow: 1;
    box-sizing: border-box;
}

.d5 {
    height: 80px;
    text-align: right;
    color: #787878;
    background-color: #575757;
    font-size: 25px;
    padding: 18px 15px;
    flex-shrink: 0;
}

.content {
    font-size: 19px;
    color: black;
    padding: 15px;
    background-color: #dddddd;
    box-sizing: border-box;
}
