<!DOCTYPE html>

<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
        :( <br> Chloe Jessica and Stella
    </h1>
    <h2>
        hi there {{username}}
        <br>
    </h2>
    <p>
        This uses GET, which is the default method. 
        GET is used to request data, and the request is shown in the URL
         POST is used to directly submit data, and gives the user a message 
         that says  "The page that you're looking for used information that you entered. Returning to that page might cause any action you took to be repeated." 
        , which doesn't happen with GET requests. GET requests are less secure. 

    </p>

  </body>

</html>

